{% extends "_layout.twig" %}

{% block subtitle %}Listing{% endblock %}

{% block content %}

    {% for record in records %}
        <article>

            <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>

            {{ record.excerpt(300) }}

        </article>
    {% endfor %}

    {{ pager() }}


{% endblock %}