{% extends "_layout.twig" %}

{% block content %}

    <article>

        <h1>{{ person.title }}</h1>

        {{ person.bio }}

        {{ person.image | showimage(200, 200) }}

    </article>



{% endblock %}