// Change bootstrap settings here

$mc-blue-faint: #eef1f7;
$mc-blue-light: #a0cde1;
$mc-blue: #4f93b1;
$mc-blue-dark: #447e98;
$mc-white: white;
$mc-grey-faint: #c9c9c9;
$mc-grey: #999898;
$mc-grey-dark: #575757;
$mc-grey-textured-background: #363636;
$mc-green-light: #7bcc89;
$mc-green: #3daa50;
$mc-orange: #cb6548;

$font-family-sans-serif: 'Work Sans', sans-serif;

$navbar-dark-color: $mc-grey-faint;
$navbar-dark-active-color: $mc-blue;
$navbar-dark-hover-color: $mc-white;