// Change bootstrap settings here

$mc-blue-faint: #eef1f7;
$mc-blue-light: #a0cde1;
$mc-blue: #4f93b1;
$mc-blue-dark: #447e98;
$mc-white: white;
$mc-grey-faint: #c9c9c9;
$mc-grey: #999999;
$mc-grey-dark: #575757;
$mc-grey-textured-background: #363636;
$mc-green-light: #7bcc89;
$mc-green: #3daa50;
$mc-orange: #cb6548;

$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-h1: 2.25rem;
$headings-font-family: 'Montserrat', sans-serif;

$navbar-dark-color: $mc-grey-faint;
$navbar-dark-active-color: $mc-blue;
$navbar-dark-hover-color: $mc-white;

$link-color: $mc-orange;
$link-hover-decoration: none;

$headings-margin-bottom: 1rem;

$pager-border-radius: 0;
$pagination-hover-bg: $mc-blue-faint;
$pagination-border-color: $mc-blue-faint;

$pagination-color: $mc-orange;

$pagination-disabled-color: $mc-grey;