@import "./settings";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// our own retina mixin based on the one from retina.js, allows cover/contain/etc background-sizes
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto, $dyn_size: null) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
           background-image: url("#{$at2x_path}");
           @if $dyn_size != null {
           		background-size: $dyn_size;
           } @else {
           		background-size: $w $h;
           }
           
  }
}

// Generic
h1.section-heading {
	text-transform: uppercase;
	color: $mc-blue;
}

h1.main {
	color: $mc-blue;
}

*::selection {
	background-color: HotPink;
	color: white;
}

a {
	font-weight: 500;
}

.important-link {
	font-size: 1.125rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: $headings-margin-bottom;
	display: inline-block;
}

hr.bold {
	border-top: 0.625rem solid $hr-border-color;
	margin-bottom: 1.5625rem;
	margin-top: 0.5625rem;
	border-color: $mc-blue-faint;
}

hr {
	margin-top: 0;
}

.detail {
	.detail-label {
		font-weight: bold;
	}
}

p.no-content {
	font-weight: bold;
	font-size: 1.25rem;
}

// Sticky Footer Setup (with dynamic height)
html,
body { height: 100%; }

body {
  display: table;
  width: 100%;
}

.row-expandable {
	display: table-row;
	height: 100%;
}

.row-sticky {
	display: table-row;
	height: 1px;	
}

// Generic navbar style.
nav.navbar
{
	background-color: none;
	padding-bottom:1rem;
	padding-top:0;
	padding-left:0;
	padding-right:0;

 	ul.nav {
 		padding-top: 0.2rem;
 		
 		// keep the margins even on all nav items (for when it moves to multiple lines)
 		li.nav-item {
			margin-right: 1rem;
			margin-left: 0;
 		}

 		li.nav-item a{
 			text-transform: uppercase;
 			padding-top:0;
 			padding-bottom:0;
 		}
 	}
}

// Header
header#main-header 
{
	padding-top: 13.33333vw;
	position: relative;
	z-index: 0;

	// cut the top padding at the xL breakpoint to prevent the header from becoming too tall.
	@include media-breakpoint-up(xl) {
		padding-top: 10rem;
	}


	// Move background details to :before to keep the other menu elements from being affected
	&:before {
		content: "";
    	position: absolute;
    	left: 0;
    	top: 0;
  		z-index: -1;
  		display: block;
  		width:100%;
  		height:100%;

		background-image: url('../images/mindcrack_header.jpg');

		// Need to fix for some microsoft browsers
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(25,25,25,1.0) 90%),
						  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(25,25,25,0.25) 100%),
						  url('../images/mindcrack_header.jpg'); 

		// When the screen is super small, the logo moves up and becomes less readable, this darkens it
		@include media-breakpoint-down(xs) {
			background-image: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(25,25,25,1.0) 90%),
				linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(25,25,25,0.5) 100%),
				url('../images/mindcrack_header.jpg'); 
	 	}

	 	// Scale the background with the size of the header (may need to look into compatibility)
		background-size: cover;
		background-position: 50% 55%;

		// Desaturate the image slightly (doesn't work on microsoft browsers by default, but thats okay, this isn't 100% necessary)
		filter: saturate(50%);
	}


	nav {
		padding-top: 0.5rem;
	 	a.navbar-brand {
	 		background-image: url('../images/logo_header.svg');
	 		height: 4.3125rem;
	 		width: 17.5rem;
	 		background-size: contain;
	 		background-repeat: no-repeat;
	 		@include text-hide();

	 		// Scale down the logo at super small mobile sizes
	 		max-width: 100%;
	 		max-height: calc((100vw - 4rem) / 4.0579710);
	 	}

	 	ul.nav {
	 		li.nav-item {
	 			margin-right: 0;
 				margin-left: 1rem;
 			}

	 		@include media-breakpoint-up(lg) {
	 			@include pull-right;
	 			padding-top: 1rem;
	 		}

	 		// mix-in for media-break-point-down(sm) not accurate enough, used to move menu items into a different alignment for small sizes
	 		@media (max-width: 47.99rem) {
	 			@include pull-left;
	 			margin-top: -1rem;
	 			margin-left: 2rem;
	 		}
	 	}
	}
}

footer#main-footer {
	@extend .row-sticky;
	color: $mc-white;
	background-color: $mc-grey-textured-background;
	@include at2x('../images/footer-bg', 'jpg', $dyn_size: cover);
	background-size:cover;
	background-position: center;

	.container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.copyright {
		margin-top: 2rem;
		font-size: 1.375rem;
		color: $mc-grey;

		.footer_logo {
			@include text-hide();
			background-image: url('../images/logo_footer.svg');
			width: 11.125rem;
			vertical-align: middle;
			height: 2.59375rem;
			display: inline-block;
			top: 1rem;
		}
	}

	.credits {
		color: $mc-grey;
		font-size: 0.85rem;
		p {
			margin-bottom: 0.25rem;
		}
		a,a:hover,a:active {
			color: $mc-grey-faint;
		}
	}
}

// Main Content
section#main-content {
	>.container {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
}

div#latest-news {
	margin-bottom: 1rem;
	.latest-news-item {
		display: block;

		span {
			display: block;
			line-height: 1.25em;
		}

		span.published {
			margin-top: 0.5rem;
			margin-bottom: 0.25rem;
		}

		span.title {
			font-size: 1.125rem;
			color: $gray-dark;
			font-weight:500;
			&:hover {
				color: lighten($gray-dark, 20%)
			}
		}

		.latest-news-thumb > .no-thumb {
			position: relative;
			display: block;
			height: 0;
			padding: 0;
			overflow: hidden;
			@include at2x('../images/news_thumbnail', 'jpg', $dyn_size: cover);
			background-size: cover;
			padding-bottom: percentage(9 / 16);
		}

	}
	@include media-breakpoint-down(sm) {
		.latest-news-item {
		    margin-bottom: 1rem;
    		overflow: hidden;
    		zoom: 1;
		    &:first-child {
		      margin-top: 0;
    		}

			.latest-news-thumb{
    			display: table-cell;
    			vertical-align: top;
    			padding-right: 10px;

				img {
					display: block;
					max-width: none;
					width: 20vw;
					height: auto;
				}

				div.no-thumb {
					display: block;
					max-width: none;
					width: 20vw;
				}
			}

			.latest-news-body {
			    overflow: hidden;
			    zoom: 1;
			    width: 10000px;
   				display: table-cell;
    			vertical-align: top;

    			span.published {
    				display: table-footer-group;
    				&:before { 
    					content: "";
    					display:block;
    					padding-top:0.25rem;
    				}
    			}

    			span.title {
    				display: table-header-group;
    			}
			}
		}
	}
	@include media-breakpoint-up(md) {
		@include make-row();

		.latest-news-item {
			@include make-col();

			@include make-col-span(4);

			img { 
				@include img-fluid();
				width: 100%;
			}
		}
	}
}

.cal-month {
	font-size: 1.5rem;
	font-weight: bold;
}

.cal-event-details {
	@include make-col();
	@include make-col-span(12);
	p {
		margin-bottom:0.25rem;
		&:last-child {margin-bottom: 1rem}
	}
}

.cal-event-map {
	@include make-col();
	@include make-col-span(12);
	margin-bottom: 1rem;
}

@include media-breakpoint-up(lg) {

	.row.with-map .cal-event-details {
		
		@include make-col-span(6);
	}

	.row.with-map .cal-event-map {
		
		@include make-col-span(6);
	}
}

section#calendar {

	.pager {
		margin-top:0;
		margin-bottom:1rem;
	}

	@include media-breakpoint-up(md) {
		.cal-month + .cal-event > .cal-event-content {
			margin-top: -2.25rem;
		}
	}

	article.cal-event {
		@include make-row();

		.cal-event-date {
			@include make-col();
			font-family: $headings-font-family;
			font-size: 3rem;
			line-height: 3rem;
		}

		.cal-event-content {
			@include make-col();

			h2 {
				margin-bottom: 0.25rem;
			}

			p {
				margin-bottom:0.25rem;

				&:last-child {margin-bottom: 1rem}
			}


		}
		@include media-breakpoint-down(xs) {
			.cal-event-content { @include make-col-span(10); h2 {font-size:1.3rem;} };
			.cal-event-date { @include make-col-span(2) };
			.cal-event-date {font-size: 1.2rem;line-height: 1.3rem;}
		}

		@include media-breakpoint-up(sm) {
			.cal-event-content { @include make-col-span(9) };
			.cal-event-date { @include make-col-span(3) };
		}

		@include media-breakpoint-up(md) {
			.cal-event-content { @include make-col-span(8) };
			.cal-event-date { @include make-col-span(4) };
		}

		@include media-breakpoint-up(lg) {
			.cal-event-content { @include make-col-span(9) };
			.cal-event-date { @include make-col-span(3) };
		}
	}
}

dl#upcoming-events {
	@extend .dl-horizontal;
	margin-left: 0;
	margin-right: 0;

	hr {
		@include make-col();

		@include make-col-span(12);

		margin-top: 0.5rem;
		padding:0;
	}
	dt {
		@include make-col();
		@include make-col-span(12);
		padding-left:0;
		@extend .cal-month;

		@include media-breakpoint-up(md) {
			@include make-col-span(4);
		}

		@include media-breakpoint-up(lg) {
			@include make-col-span(3);
		}
	}

	dd {
		@include make-col();
		@include make-col-span(12);

		@include media-breakpoint-up(md) {
			@include make-col-span(8);
		}

		@include media-breakpoint-up(lg) {
			@include make-col-span(9);
		}
	}

	dd + dd {
		@include media-breakpoint-up(md) {
			@include make-col-offset(4);
		}

		@include media-breakpoint-up(lg) {
			@include make-col-offset(3);
		}
	}

}

section#hero {
	background-color: $mc-blue-faint;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;

	.common-links {
		@include make-col();

		.common-links-link {
			display: block;

	    	text-align: center;
			font-family: $headings-font-family;
			text-transform: uppercase;
			font-size: 1.5rem;
			color: $mc-grey-dark;

			@include make-col();
	
			&:hover {
				text-decoration: none;
				.common-link-icon {
					// Won't work on IE, but this isn't strictly 100% necessary
					// using as opposed to image-mask because it's a little more supported
					filter: brightness(1.33);
				}

				color:lighten($mc-grey-dark,11.5%);
			}

			@include media-breakpoint-down(md) {
				font-size: 1.25rem;
			}

			@include media-breakpoint-down(xs) {
				font-size: 1rem;
			}

			.common-link-icon {
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}

			&.common-link-calendar .common-link-icon {
				background-image: url('../images/icon_calendar.svg');
			}

			&.common-link-members .common-link-icon {
				background-image: url('../images/icon_members.svg');

			}

			&.common-link-store .common-link-icon {
				background-image: url('../images/icon_store.svg');
			}
		}
	}

	.promo {
		@include make-col();

		@include media-breakpoint-up(md) {
			@include make-col-span(9);

			// make sure height of this section is full regardless of image being loaded yet (fixes blip of ugliness with the common links while loading)
			height:0;
			padding-bottom: calc(#{(9/16 * 75%)} - #{($grid-gutter-width * (9/16))});
		}

		@include media-breakpoint-down(sm) {
			@include make-col-span(12);
		}

		img {
			width: 100%;
		}
	}

	@include media-breakpoint-up(md) {
		.container {
			.row {
				position: relative;
				height:auto;
			}		
		}

		.common-links {
			position: absolute;
			height: 100%;
			@include make-col-span(3);

			.common-links-link {
				height:33.33333%;
				@include make-col-span(12);

				.common-link-icon {
					height: calc(100% - 2.5em);
	 				margin-top: 1rem;
				}

			}
		}

		.promo {
			@include pull-right();
		}
	}

	@include media-breakpoint-up(xl) {
		.common-links .common-links-link .common-link-icon {
			height: calc(100% - 3.5em);
	 		margin-top: 1.5rem;
	 		margin-bottom: 0.5rem;
		}
	}

	@include media-breakpoint-down(sm) {
		.common-links {
			@include make-col-span(12);
			margin-bottom: 1rem;

			.common-links-link {
				@include make-col-span(4);

				.common-link-icon {
					width: 100%;
					height: 10vw;
				}

			}
		}
	}

	.row.no-promo {
		position:static;

		.common-links {
			width: 100%;
			height: auto;
			position: relative;
			margin-bottom: 0;
			@include make-col-span(12);

			.common-links-link {
				@include make-col-span(4);

				.common-link-icon {
					width: 100%;
					height: 10vw;
					max-height: 5rem;
					margin-bottom: 0;
				}
			}
		}
	}

	// SUPER DUPER SMALL
	@media (max-width: 25rem) {
		padding-top: 1rem;
		padding-bottom: 1rem;

		.row .common-links, .row.no-promo .common-links {
			.common-links-link {
				width: 100%;
				text-align: left;
				padding-left: 1rem;

				margin-bottom: 0.5rem;

				&:last-child {
					margin-bottom: 0;
				}

				.common-link-icon {
					vertical-align: middle;
					display: inline-block;
					width:15vw !important;
					height:15vw !important;
					margin-right: 1rem;
				}

				.common-link-name {
					display: inline-block;
				}
			}
		}
	}
}

.about-panel {
	color: $mc-white;
	background-color: $mc-blue;
	@include at2x('../images/about-panel-bg', 'jpg', $dyn_size: cover);
	background-size:cover;
	background-position: center;
	h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
		color: $mc-white;
	}

	a {
		color: white;
		&:hover {
			text-decoration: underline;
		}
	}

	> .container {
		padding-top: 1rem;
		padding-bottom: 0;

		h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
			font-weight: 500;
			font-family: $font-family-sans-serif;
		}

		@include media-breakpoint-up(md) {
			padding-top:2rem;
			padding-bottom:1rem;
		}
	}
}

// About Panel
#about.about-panel {

	&> .container {

		// Because not normal paragraph content, with 1 margin at the bottom,
		// make the padding account for that to be even
		padding-bottom: 2rem;

		@include media-breakpoint-up(md) {
			display: table;

			border-collapse: separate;
  			border-spacing: 1.5rem;
		}

		.about_logo {

			background-image: url('../images/logo_white_vertical.svg');
			background-position: center;
			background-repeat: no-repeat;
			width: 11.90625rem;
			height: 7.8125rem;

			@include media-breakpoint-up(md) {
				display: table-cell; 
				vertical-align: middle;
			}

			@include media-breakpoint-down(sm) {
				margin: 0 auto;
			}

		}

		.about_text {
			padding-top: 1rem;
			padding-bottom: 1rem;

			@include media-breakpoint-up(md) {
				font-size: 1.125rem;
				line-height: 2rem;
				display: table-cell; 
				vertical-align: middle;
				border-left: 0.1875rem solid $mc-blue-light;
				padding-left: 1.5rem;
			}

			@include media-breakpoint-down(sm) {
				border-top: 0.1875rem solid $mc-blue-light;
				margin-top: 1.5rem;
				text-align: center;
				padding-left: 1rem;
				padding-right: 1rem;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.about-panel-stat-line {
		background-color:rgba(0,0,0,0.14);

		.container {
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;

			display: flex;
			flex-wrap: wrap;

			span.h4 {
				flex: none;
				margin: 0;
				padding-right:1rem;
			}

			div {
				display: flex;
				flex: 2;
				flex-wrap: wrap;
				justify-content: space-between; 

				&>span {
					padding-left:1rem;
				}
				.stat-heading {
					white-space: nowrap
				}
			}
		}

		.stat-heading {
			font-weight: bold;
		}
	}
}

article.news-item {

	.detail {
		@extend .text-muted;
		margin-top: -0.75rem;
	}

	figure {
		@extend .figure;
		margin-top: 1rem;
		margin-bottom: 1rem;

		img {
			@extend .figure-img;
			@extend .img-fluid;
		}

		figcaption {
			@extend .figure-caption;
		}
	}

	figure.main-image {
		@extend .center-block;

		@include media-breakpoint-up(md) {
			margin-top: 2rem;
			margin-bottom: 2rem;
			width: 75%;
		}

		figcaption {
			@extend .text-xs-right;
		}
	}
}

// Less than ideal non-flex solutions for older IE
.lt-ie10 {
	.about-panel-stat-line .container{

		div {
			text-align: justify;
			font-size: 0;
			&>span {
				display:inline-block;
				vertical-align: middle;
				font-size:1rem;
			}

			&:after {
				content: "";
				display: inline-block;
				width: 100%;
			}
		}

		&>span.h4 {
			display: block;
			font-size: $font-size-h4;
			margin: 0;
			margin-right: 2rem;
			@include pull-left;
		}

	}

	header#main-header {
		background-image: url('../images/mindcrack_header.jpg');
		background-size: cover;
		background-position: 50% 55%;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14000000', endColorstr='#191919',GradientType=0 ),
				progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#40191919',GradientType=0 );
		&:before {
			background-image: none;
		}

		@include media-breakpoint-down(xs) {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20000000', endColorstr='#191919',GradientType=0 ),
					progid:DXImageTransform.Microsoft.gradient( startColorstr='#90000000', endColorstr='#70191919',GradientType=0 );
		}
	}
}