@import "settings";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/retina.js/src/retina.scss";

// Generic
h1 {
	text-transform: uppercase;
}

// Header
header#main-header 
{
	padding-top: 13.33333vw;
	position: relative;
	z-index: 0;

	// cut the top padding at the xL breakpoint to prevent the header from becoming too tall.
	@include media-breakpoint-up(xl) {
		padding-top: 10rem;
	}


	// Move background details to :before to keep the other menu elements from being affected
	&:before {
		content: "";
    	position: absolute;
    	left: 0;
    	top: 0;
  		z-index: -1;
  		display: block;
  		width:100%;
  		height:100%;

		background-image: url('../images/mindcrack_header.jpg');

		// Need to fix for some microsoft browsers
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(25,25,25,1.0) 90%),
						  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(25,25,25,0.25) 100%),
						  url('../images/mindcrack_header.jpg'); 

		// When the screen is super small, the logo moves up and becomes less readable, this darkens it
		@include media-breakpoint-down(xs) {
			background-image: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, rgba(25,25,25,1.0) 90%),
				linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(25,25,25,0.5) 100%),
				url('../images/mindcrack_header.jpg'); 
	 	}

	 	// Scale the background with the size of the header (may need to look into compatibility)
		background-size: cover;
		background-position: 50% 55%;

		// Desaturate the image slightly (doesn't work on microsoft browsers by default, but thats okay, this isn't 100% necessary)
		filter: saturate(50%);
		-webkit-filter: saturate(50%);
	}


	nav {
		background-color: none;
		padding-bottom:1rem;
		padding-left:0;
		padding-right:0;

	 	a.navbar-brand {
	 		background-image: url('../images/logo_header.svg');
	 		height: 4.3125rem;
	 		width: 17.5rem;
	 		background-size: contain;
	 		background-repeat: no-repeat;
	 		@include text-hide();

	 		// Scale down the logo at super small mobile sizes
	 		max-width: 100%;
	 		max-height: calc((100vw - 4rem) / 4.0579710);
	 	}

	 	ul.nav {
	 		padding-top: 0.2rem;
	 		@include media-breakpoint-up(lg) {
	 			@include pull-right;
	 			padding-top: 1rem;
	 		}

	 		// mix-in for media-break-point-down(sm) not accurate enough, used to move menu items into a different alignment for small sizes
	 		@media (max-width: 47.99rem) {
	 			@include pull-left;
	 			margin-top: -1rem;
	 			margin-left: 2rem;
	 		}
	 		
	 		// keep the margins even on all nav items (for when it moves to multiple lines)
	 		li.nav-item:first-child {
	 			margin-left: 1rem;
	 		}

	 		li.nav-item a{
	 			text-transform: uppercase;
	 			padding-top:0;
	 			padding-bottom:0;
	 		}
	 	}

	}
}

footer#main-footer {
	color: $mc-white;
	background-color: $mc-blue;
	@include at2x('../images/footer-bg', 'jpg');
	background-size:cover;
	background-position: center;
	height: 15rem;
}

// Main Content
div#content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

// About Panel
.about-panel {
	color: $mc-white;
	background-color: $mc-blue;
	@include at2x('../images/about-panel-bg', 'jpg');
	background-size:cover;
	background-position: center;
	h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
		color: $mc-white;
	}

	&> .container {

		padding-top: 1rem;

		@include media-breakpoint-up(md) {
			padding-top:2rem;
			padding-bottom:2rem;
			display: table;

			border-collapse: separate;
  			border-spacing: 1.5rem;
		}

		.about_logo {

			background-image: url('../images/logo_white_vertical.svg');
			background-position: center;
			background-repeat: no-repeat;
			width: 11.90625rem;
			height: 7.8125rem;

			@include media-breakpoint-up(md) {
				display: table-cell; 
				vertical-align: middle;
			}

			@include media-breakpoint-down(sm) {
				margin: 0 auto;
			}

		}

		.about_text {
			padding-top: 1rem;
			padding-bottom: 1rem;

			@include media-breakpoint-up(md) {
				font-size: 1.125rem;
				line-height: 2rem;
				display: table-cell; 
				vertical-align: middle;
				border-left: 0.1875rem solid $mc-blue-light;
				padding-left: 1.5rem;
			}

			@include media-breakpoint-down(sm) {
				border-top: 0.1875rem solid $mc-blue-light;
				margin-top: 1.5rem;
				text-align: center;
				padding-left: 1rem;
				padding-right: 1rem;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.about-panel-stat-line {
		background-color:rgba(0,0,0,0.14);

		.container {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;

			display: flex;
			flex-wrap: wrap;

			span.h4 {
				flex: none;
				margin: 0;
				padding-right:1rem;
			}

			div {
				display: flex;
				flex: 2;
				flex-wrap: wrap;
				justify-content: space-between; 

				&>span {
					padding-left:1rem;
				}
				.stat-heading {
					white-space: nowrap
				}
			}
		}

		.stat-heading {
			font-weight: bold;
		}
	}
}

// Less than ideal non-flex solutions for older IE
.lt-ie10 {
	.about-panel-stat-line .container{

		div {
			text-align: justify;
			font-size: 0;
			&>span {
				display:inline-block;
				vertical-align: middle;
				font-size:1rem;
			}

			&:after {
				content: "";
				display: inline-block;
				width: 100%;
			}
		}

		&>span.h4 {
			display: block;
			font-size: $font-size-h4;
			margin: 0;
			margin-right: 2rem;
			@include pull-left;
		}

	}
}